<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="dataTables.min.css" rel="stylesheet">
    <script src="jquery-3.7.1.min.js" type='text/javascript'></script>
    <script src="dataTables.min.js" type='text/javascript'></script>
    <script src="bootstrap.min.js" type='text/javascript'></script>
</head>
<body>
    <div class="container" id="body">
        <div class="row" id="headerList">
            <h2 class="text-center">{{.Title}}</h2>
        </div>
        <div class="row" id="tagList">
            <div class="row">
                {{range .Tags}}
                <div class="col" id="buttonList-button{{.Id}}">
                    <a class="tagButton tagButton{{.Id}}" id="buttonListButton{{.Id}}" href="#button{{.Id}}">{{.Name}}</a>
                </div>
                {{end}}
            </div>
        </div>
        <div class="row" id="channelListTable">
            <table class="table table-striped" id="channelList">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {{range .Channels}}
                <tr>
                    <td><a href="https://youtube.com/channel/{{.Id}}" target='_blank'>{{.Name}}</a></td>
                    <td>{{.Description}}</td>
                    <td>{{.Notes}}</td>
                    <td>{{range .Tags}}<a class="tagButton tagButton{{.}}" href="#button{{.}}">{{.}}</a>{{end}}</td>
                </tr>
                {{end}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Tags</th>
                </tr>
            </tfoot>
            </table>
        </div>
        <div class="row" id="footer">
            <p><em>This page was generated by <a href="https://gitea.joyrex.net/ejstacey/ysm" target="_blank">Joyrex YSM</a>. It uses javascript and css from <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>, <a href="https://jquery.com/" target="_blank">JQuery</a>, <a href="https://datatables.net/" target="_blank">DataTables</a>. The default theme is "<a href="https://bootswatch.com/darkly/" target="_blank">Darkly</a>" from <a href="https://bootswatch.com/" target="_blank">Bootswatch</a>.</em></p>
        </div>
    </div>
    <script type='text/javascript'>
        let table = new DataTable('#channelList');  
    </script>
</body>
</html>
